<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.core.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.example.bean.entity.City">
    <constructor>
      <arg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Name" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="CountryCode" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="District" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="Population" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.example.bean.entity.City">
    insert into city (ID, Name, CountryCode, 
      District, Population)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{countrycode,jdbcType=CHAR}, 
      #{district,jdbcType=CHAR}, #{population,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.bean.entity.City">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="countrycode != null">
        CountryCode,
      </if>
      <if test="district != null">
        District,
      </if>
      <if test="population != null">
        Population,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="countrycode != null">
        #{countrycode,jdbcType=CHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=CHAR},
      </if>
      <if test="population != null">
        #{population,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>